html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
/*jssor slider loading skin spin css*/
.jssorl-009-spin img { 
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.part_pad{
    padding: 18px;
}
#top-nav{
    background-color: #0caa41 !important;
    opacity:0.8;
    font-weight: bold;
    position: fixed;
  }
  #btn_signup{
    background-color: #0caa41 !important;
  }
#formmessage{
    color: #0caa41;
border: 1px solid #0caa41;
display: none;
text-align: center;
padding: 15px;
font-weight: 600;
margin-bottom: 15px;
}